body, html {
  background: rgba(0,0,0,1);
  overflow: none;
}

.container {
  width: 100%;
}

.board {
  display: flex;
  margin: 2.5vmin auto;  
  width: 90vmin;
  height: 90vmin;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  align-content: space-between;
}

.new-game-screen {
  margin: 2.5vmin auto;  
  width: 90vmin;
  height: 90vmin;
  color: #fff;
  border: 1px dashed #fff !important;
}

.square {
  border: 1px solid #333;
  box-sizing: border-box;
  color: #fff;
}

.square-2 {
  width: calc(100% / 4);
  height: calc(100% / 4);  
}

.square-3 {
  width: calc(100% / 5);
  height: calc(100% / 5);  
}

.square-4 {
  width: calc(100% / 6);
  height: calc(100% / 6);  
}

.square-5 {
  width: calc(100% / 7);
  height: calc(100% / 7);  
}

.square-6 {
  width: calc(100% / 8);
  height: calc(100% / 8);  
}

.square-7 {
  width: calc(100% / 9);
  height: calc(100% / 9);  
}

.square-8 {
  width: calc(100% / 10);
  height: calc(100% / 10);  
}


.square-9 {
  width: calc(100% / 11);
  height: calc(100% / 11);  
}

.square-10 {
  width: calc(100% / 12);
  height: calc(100% / 12);  
}


.square-11 {
  width: calc(100% / 13);
  height: calc(100% / 13);  
}

.square-12 {
  width: calc(100% / 14);
  height: calc(100% / 14);  
}

.square-13 {
  width: calc(100% / 15);
  height: calc(100% / 15);  
}


/* These are the one for the reference values.. */
.header-square,
.row-start-square {
  background-color: rgba(255,255,255,0.07);
}

.footer-square,
.row-end-square {
  background-color: rgba(255,0,0, 0.07);
}

.piece {
  width: 25px;
  height: 25px;  
}

.piece-on {
  background-color: green;
}

.piece-off {
  background-color: red;
}