@import './squares.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$player1_color: #03dddc;
$player2_color: #fef900;

body, html {
  background: #000;
  overflow: none;
  font-family: 'Arial';
}

button, select {
  font-family: 'Arial';
  
}

.container {
  //perspective: 800px;
  width: 100%;
}

.board {
  display: flex;
  margin: 1vmin auto;  
  width: 90vmin;
  height: 98vmin;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  //transform: rotateX(10deg) translateY(-30px);
  align-content: space-between;
}

.player-win-screen,
.new-game-screen {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5vmin auto;  
  width: 90vmin;
  height: 90vmin;
  color: #f8f8ff;

  button, select {
    font-size: 200%;
  }
  button {
    margin-top: 15px;
  }

}




.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.15);
  box-sizing: border-box;
  color: #f8f8ff;
  font-size: 35px;
}



// Outside radius

.square:first-child {
  border-radius: 15px 0 0 0;
};

.sigma-square {
  font-size: 20px;
  color: #bbb !important;
  border-radius: 0 15px 0 0;
}



.footer-square {
  &.row-start-square {
    border-radius: 0 0 0 15px;
  } 
}

.square:last-child {
  border-radius: 0 0 15px 0;
};





/* These are the one for the reference values.. */
.header-square,
.row-start-square {
  //background-color: rgba(255,255,255,0.15);
  border: 0;
}

.footer-square,
.row-end-square {
  //background-color: rgba(255,255,255, 0.15);
  border: 0;
}

.piece {
  border-radius: 75%;
  width: 75%;
  height: 75%;  
}

.piece-on {
  background-color: $player1_color
}

.piece-off {
  background-color:  $player2_color;
}

.sigma-square {
  color: #f8f8ff;
}

.delta-on {
color: $player1_color;
}

.delta-off {
color: $player2_color;
}


.score-on {
  color: $player1_color;
  padding: 3px;
  text-align: center;
  backgbround-color: #90ee90;
}

.score-off {
  color: $player2_color;
  padding: 3px;
  text-align: center;
}

.flipper-square  {
  font-size: 25px;
  cursor: pointer;
}