body, html {
  background: #000;
  overflow: none;
  font-weight: bold;
  font-size: 115%;
  font-family: Arial;
}

.container {
  width: 100%;
}

.board {
  display: flex;
  margin: 1vmin auto;  
  width: 98vmin;
  height: 98vmin;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  align-content: space-between;
}

.new-game-screen {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5vmin auto;  
  width: 90vmin;
  height: 90vmin;
  color: #fff;
  border: 1px dashed #fff !important;
}

.new-game-screen button{
  margin-top: 5px;
  font-size: 5vmin;
}

.new-game-screen select {
  font-size: 5vmin;
}


.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.15);
  box-sizing: border-box;
  color: #fff;
}

.square-2 {
  width: calc(100% / 4);
  height: calc(100% / 4);  
}

.square-3 {
  width: calc(100% / 5);
  height: calc(100% / 5);  
}

.square-4 {
  width: calc(100% / 6);
  height: calc(100% / 6);  
}

.square-5 {
  width: calc(100% / 7);
  height: calc(100% / 7);  
}

.square-6 {
  width: calc(100% / 8);
  height: calc(100% / 8);  
}

.square-7 {
  width: calc(100% / 9);
  height: calc(100% / 9);  
}

.square-8 {
  width: calc(100% / 10);
  height: calc(100% / 10);  
}


.square-9 {
  width: calc(100% / 11);
  height: calc(100% / 11);  
}

.square-10 {
  width: calc(100% / 12);
  height: calc(100% / 12);  
}


.square-11 {
  width: calc(100% / 13);
  height: calc(100% / 13);  
}

.square-12 {
  width: calc(100% / 14);
  height: calc(100% / 14);  
}

.square-13 {
  width: calc(100% / 15);
  height: calc(100% / 15);  
}


/* These are the one for the reference values.. */
.header-square,
.row-start-square {
  background-color: rgba(255,255,255,0.15);
}

.footer-square,
.row-end-square {
  background-color: rgba(255,255,255, 0.15);
}

.piece {
  border-radius: 75%;
  width: 75%;
  height: 75%;  
}

.piece-on {
  background-color: #90EE90;
}

.piece-off {
  background-color:  rgba(255, 64, 0);
}

.score-on {
  color: #90EE90;
}

.score-off {
  color: rgba(255, 64, 0);
}