@import './squares.scss';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap');


$player1_color: rgb(72,	184,	170	);// green
$player2_color: rgb(233,	86	,82); // red
$point_value_color: rgba(255,255,255,0.2);
$score_color: rgba(255,255,255,0.9);
$border_color: rgba(255,255,255, 0.15);


body, html {
  background: rgba(15,15,15,1);
  overflow: none;
  font-family: 'Rubik', sans-serif;
}

.container {
  //perspective: 1800px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  border: 1px solid $border_color;
  border-radius: 25px;
  display: flex;
  margin: 1vmin auto;  
  width: 90vmin;
  height: 90vmin;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 0;
  //transform: rotateX(30deg) translateY(-30px);
  align-content: space-between;
}

.ingame-menu-screen,
.player-win-screen,
.new-game-screen {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5vmin auto;  
  width: 90vmin;
  height: 90vmin;
  color: #f8f8ff;

  button {
    margin-top: 15px;
  }

}




.square {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: $point_value_color;
}


.game-square {
  border-top: 1px solid $border_color;
  border-left: 1px solid $border_color;
}

.footer-square {
  border-top: 1px solid $border_color;
}

.row-end-square {
  border-top: 0;
  border-left: 1px solid $border_color;
}

.footer-square {
  border-left: 0;  
}

.header-square {
  border-left: 0;
}

.row-start-square {
  border-top: 0;
}

// Outside radius

.square:first-child {
  border-radius: 15px 0 0 0;
};

.sigma-square {
  color: rgba(255,255,255, 0.50) !important;
  border-radius: 0 15px 0 0;
  cursor: pointer;
}



.footer-square {
  &.row-start-square {
    border-radius: 0 0 0 15px;
  } 
}

.square:last-child {
  border-radius: 0 0 15px 0;
};

.piece {
  border-radius: 100%;
  width: 65%;
  height: 65%;  
}

.piece-on {
  background-color: $player1_color
}

.piece-off {
  background-color:  $player2_color;
}

.score {
  line-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-shadow: 1px 1px #000;
  opacity: 0.75;
}

.score-on {
  color: $score_color;
  background-color: $player1_color;
  padding: 3px;
  text-align: center;
  backgbround-color: #90ee90;
}

.score-off {
  color: $score_color;
  background-color: $player2_color;
  padding: 3px;
  text-align: center;
}

.delta-on .flipper-top {
  color: $player1_color;
}

.delta-on .flipper-bottom {
  color: $player2_color;
}

.delta-off .flipper-top {
  color: $player2_color;
}

.delta-off .flipper-bottom {
  color: $player1_color;
}

.flipper {
    text-align: center;
}


.flipper-top {

}

.flipper-bottom {
}




.flipper-square  {
  cursor: pointer;
}