@import './squares.scss';

body, html {
  background: #000;
  overflow: none;
  font-weight: bold;
  font-size: 115%;
  font-family: Arial;
}

.container {
  //perspective: 800px;
  width: 100%;
}

.board {
  display: flex;
  margin: 1vmin auto;  
  width: 98vmin;
  height: 98vmin;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
  //transform: rotateX(10deg) translateY(-30px);
  align-content: space-between;
}

.player-win-screen,
.new-game-screen {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5vmin auto;  
  width: 90vmin;
  height: 90vmin;
  color: #fff;
  border: 1px dashed #fff !important;

  button, select {
    font-size: 200%;
  }
  button {
    margin-top: 15px;
  }

}




.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255,255,255,0.15);
  box-sizing: border-box;
  color: #fff;

}



// Outside radius

.square:first-child {
  border-radius: 15px 0 0 0;
};

.sigma-square {
  border-radius: 0 15px 0 0;
}



.footer-square {
  &.row-start-square {
    border-radius: 0 0 0 15px;
  } 
}

.square:last-child {
  border-radius: 0 0 15px 0;
};





/* These are the one for the reference values.. */
.header-square,
.row-start-square {
  background-color: rgba(255,255,255,0.15);
  border: 0;
}

.footer-square,
.row-end-square {
  background-color: rgba(255,255,255, 0.15);
  border: 0;
}

.piece {
  border-radius: 75%;
  width: 75%;
  height: 75%;  
}

.piece-on {
  background-color: #90EE90;
}

.piece-off {
  background-color:  rgba(255, 64, 0, 1.0);
}

.sigma-square {
  color: #111;
}

.score-on {
  color: #90EE90;
  padding: 3px;
  text-align: center;
}

.score-off {
  text-align: center;
  padding: 3px;
  color: rgba(255, 64, 0, 1.0);
}